body {
  background-color: #fff;
  padding: 0;
  margin: 0;
}
h1, h2, h3{
  text-align: center;
}
.container{
  width:1200px;
  margin:auto;
  margin-top: 30px;
  font-family: 'El Messiri', sans-serif;
}
@media screen and (max-width: 1400px) { 
  .container{
    width:800px;
  }
}
@media screen and (max-width: 640px) { 
  .container{
    width:90%;
  }
}

/*===========intro section============*/

.start-animation{
  z-index: 200;
  width: 700px;
  height: 30%;
  position: absolute;
  top: 20%;
  left: calc(50% - 350px);
  /*transform: scale(2.5);*/
}
svg {
  z-index: 1;
}
.under-animation{
  position: absolute;
  z-index: 21;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: white;
  /*fallback*/
  display: none;
}

.header{
  height: 100vh;
  background-image: url(../images/work-space.jpg);
  background-size: 110%;
  background-position: bottom;
  text-align: center;
  overflow: hidden;
}
.paper{
  width: 555px;
  height: 85%;
  background-color: white;
  position: absolute;
  left: calc(50% - 277px);
  top: 12%;
  box-shadow: -1px 2px 5px 0px rgba(0,0,0,0.55);
  z-index: 20;
}
.water-colour-gif{
  height: 40%;
  width: 420px;
  position: relative;
  left: calc(50% - 210px);
  top: 50%;
  background-image: url(../images/water-colour-dance.gif);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  /*opacity:0;*/
}
/*@media screen and (max-width: 1400px) {
  .header{
    background-size: 100%;
  }
  .paper{
    top: 100px;
    width: 360px;
    height: 550px;
    left: calc(50% - 180px);
  }
  .start-animation{
    width: 460px;
    height: 300px;
    top: 55px;
    left: calc(50% - 230px);
  }
  .water-colour-gif{
    height: 250px;
    width: 300px;
    left: calc(50% - 150px);
    top: 250px;
  }
}*/

@media screen and (max-width: 640px) { 
  .header{
    background-image: url(../images/work-space-mob.jpg);
    background-size: cover;
    background-position: bottom;
  }
  .start-animation{
    width: 360px;
    height: 250px;
    top: 0;
    left: calc(50% - 180px);
    /*transform: scale(1.3);*/
  }
  .paper{
    top: 10%;
    width: 80%;
    height: 87%;
    left: 10%;
  }
  .water-colour-gif{
    height: 45%;
    width: 70%;
    left: 15%;
    top: 45%;
  }

}

/*==========TABLES===========*/


.header-programm{
  /*height: 100vh;*/
  background-image: url(../images/work-space.jpg);
  background-size: 150%;
  background-position: bottom;
  background-attachment: fixed;
}
.header-programm .container{
  background-color: white;
  /*position: absolute;*/
  margin-top: 0!important;
  padding: 20px;
}
.main-page-btn{
  position: fixed;
  right: 7vw;
  top: 7vw;
  height: 10vw;
  width: 10vw;
  border-radius: 50%;
  background-image: url('../images/drevo.jpg');
  transform: translateZ(0px);
  -webkit-box-shadow: -8px 6px 29px -6px rgba(0,0,0,0.75);
  -moz-box-shadow: -8px 6px 29px -6px rgba(0,0,0,0.75);
  box-shadow: -8px 6px 29px -6px rgba(0,0,0,0.75);
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.main-page-btn:hover{
  transform: scale(1.1);
}
.main-page-btn .btn-text{
  /*display: inline-block;*/
  text-align: center;
  font-family: 'El Messiri', sans-serif;
  font-weight: bold;
  line-height: 1rem;
  width:7vw;
  height: 5vw;
  text-decoration: none;
  color: black;
  padding-top: 15px;
}
.table td{
  padding: 10px;
}
.wise-painter-said{
  margin-left: 20%;
  margin-right: 20%
}
.signature{
  margin-left: 70%;
}
@media screen and (max-width: 640px) and (orientation:portrait) {
  .header-programm .container{
    padding:10px;
    margin-left: 5vw;
    width:90vw;
  }
  .main-page-btn{
    height: 23vw;
    width: 23vw;
  }
  .main-page-btn .btn-text{
    width:17vw;
    height: 17vw;
    font-size: 0.7rem;
    line-height: 0.9rem;
    padding-top: 10px;
  }
}

@media screen and (max-width: 800px) and (orientation:landscape) {
  .main-page-btn{
    height: 15vw;
    width: 15vw;
    right:2vw;
    top: 2vw;
  }
  .main-page-btn .btn-text{
    width:10vw;
    height: 10vw;
    font-size: 0.8rem;
    line-height: 0.9rem;
    padding-top: 10px;
  }
}


/*================menu section===================*/


nav .menu{
  position: fixed;
  font-family: 'El Messiri', sans-serif;
/*  height: 555px;
  width: 180px;
  border-radius: 30px 0 0 30px;*/
  width: 370px;
  height: 555px;
  /*-webkit-border-radius: 63px 63px 63px 63px / 108px 108px 72px 72px;*/
  border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
  /*right: -380px;*/
  border: 1px solid #D0B293;
  box-shadow: ;
  right: -170px;
  bottom: 20px;
  background-image: url('../images/drevo.jpg');
  transform: translateZ(0px);
  -webkit-box-shadow: -8px 6px 29px -6px rgba(0,0,0,0.75);
  -moz-box-shadow: -8px 6px 29px -6px rgba(0,0,0,0.75);
  box-shadow: -8px 6px 29px -6px rgba(0,0,0,0.75);
  z-index: 100;
}
.menu-btn{
  position: absolute;
  display: flex;
  flex-direction: row;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}
.menu-btn.activated{
  /*width:200px;*/
  /*border: 3px solid red;*/
  /*border-radius: 28px 28px 28px 28px;*/
}
.menu-btn.activated.courses-prices{
  background-image: url(../images/blob-red-plus.png);
  background-position: left;
  background-repeat: no-repeat;
}
.menu-btn.activated.about-us{
  background-image: url(../images/blob-green-plus.png);
  background-position: left;
  background-repeat: no-repeat;
}
.menu-btn.activated.super-teachers{
  background-image: url(../images/blob-yellow-plus.png);
  background-position: left;
  background-repeat: no-repeat;
}
.menu-btn.activated.students-work{
  background-image: url(../images/blob-white-plus.png);
  background-position: left;
  background-repeat: no-repeat;
}
.menu-btn.activated.contacts{
  background-image: url(../images/blob-blue-plus.png);
  background-position: left;
  background-repeat: no-repeat;
}


.menu-btn.animated-logo{
  background-image: url(../images/logo2.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 140px;
  height: 140px;
  right: 170px;
  bottom: 390px;
  z-index: 101;
}
.menu-btn.animated-logo:hover{
  transform: scale(1.1);
}
.menu-btn .circle{
  height: 55px;
  width: 55px;
  /*border-radius: 50%;*/
  /*border: 1px solid #D0B293;*/
}

.menu-btn .txt{
  display: block;
  padding-top: 20px;
  padding-left: 7px;
  padding-right: 10px;
  transition: all 0.2s ease-in-out;
}
.menu-btn:hover .circle{
  /*transform: scale(1.1);*/
}
.menu-btn:hover .txt{
  font-size:1.2rem;
  font-weight: bold;
}

.menu-btn.courses-prices{
  left: 25px;
  bottom: 300px;
  z-index: 111;
  background-image: url(../images/blob-red.png);
  background-position: left;
  background-repeat: no-repeat;
}
.menu-btn.activated.courses-prices .txt{
  color: white;
}
.menu-btn.courses-prices .circle{
  /*background-color: red;*/
}

.menu-btn.about-us{
  left: 45px;
  bottom: 375px;
  z-index: 111;
  background-image: url(../images/blob-green.png);
  background-position: left;
  background-repeat: no-repeat;
}
.menu-btn.activated.about-us .txt{
  color: white;
}
.menu-btn.about-us .circle{
  /*background-color: green;*/
}

.menu-btn.super-teachers{
  left: 15px;
  bottom: 235px;
  z-index: 111;
  background-image: url(../images/blob-yellow.png);
  background-position: left;
  background-repeat: no-repeat;
}
.menu-btn.super-teachers .circle{
  /*background-color: yellow;*/
}

.menu-btn.students-work{
  left: 20px;
  bottom: 160px;
  z-index: 111;
  background-image: url(../images/blob-white.png);
  background-position: left;
  background-repeat: no-repeat;
}
.menu-btn.students-work .circle{
  /*background-color: white;*/
}

.menu-btn.contacts{
  left: 35px;
  bottom: 90px;
  z-index: 111;
  background-image: url(../images/blob-blue.png);
  background-position: left;
  background-repeat: no-repeat;
}
.menu-btn.activated.contacts .txt{
  color: white;
}
.menu-btn.contacts .circle{
  /*background-color: blue;*/
}

.menu-btn.activated .circle{
  border: none;
  background-color: transparent;
}
.menu-btn.activated .txt{
  font-size: 1.1rem;
  font-weight: bold;
  transform: translateX(-45px) translateY(-5px);
}
/*.menu-btn.activated.students-work .txt{
  transform: translateX(-45px) translateY(-5px);
}*/
.menu-btn.activated.contacts .txt{
  transform: translateX(-55px) translateY(-5px);
}

.menu-bt.call-us{
  position: absolute;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  left: 65px;
  bottom: 25px;
  z-index: 111;
  text-align: right;
  font-size: 1.1rem;
  font-weight: bold;
  line-height: 1.4rem;
}
.menu-bt.call-us a{
  text-decoration: none;
  color: black;
}
.menu-bt.call-us .circle{
  background-color: blue;
}
.to-call-mob{
  display: none;
}
@media screen and (max-width: 640px) { 
  nav .menu{
    /*display: none;*/
    right: auto;
    width: 120%;
    height: 160px;
    border-radius: 100% 80%;
    /* right: 0; */
    left: -10%;
    /*bottom: -170px;*/
    bottom: -83px;
    box-shadow: 0px -7px 10px -6px rgba(0,0,0,0.65);
  }
  .menu-btn{
    flex-direction: column;
  }
  .to-call-mob{
    display: block;
  }
  .menu-btn .circle{
    height: 25px;
    width: 25px;
    background-size: contain;
  }
  .menu-btn .txt {
    padding-top: 3px;
    font-size: 0.8rem;
  }

  .menu-btn:hover .txt{
    font-size: 0.8rem;
    font-weight: normal;
  }
  .menu-btn.activated .txt{
    font-size: 0.85rem;
    font-weight: bold! important;
    color: white;
    /*padding-top: ;*/
    transform: translateX(0) translateY(0);
  }

  .menu-btn.animated-logo{
    display: none;
  }
  .menu-btn.courses-prices{
    left: 20%;
    bottom: 90px;
    z-index: 111;
    background-image: url(../images/m-blob-red.png);
    background-position: top;
  }
  .menu-btn.courses-prices .txt{
    padding-top: 7px;
  }
  .menu-btn.activated.courses-prices .txt{
    padding-top: 7px;
    color: white;
  }

  .menu-btn.about-us{
    left: 9%;
    bottom: 80px;
    background-image: url(../images/m-blob-green.png);
    background-position: top;
  }
  .menu-btn.activated.about-us .txt{
    /*color: black;*/
  }

  .menu-btn.super-teachers{
    left: 30%;
    bottom: 100px;
    background-image: url(../images/m-blob-yellow.png);
    background-position: top;
  }

  .menu-btn.students-work{
    left: 42%;
    bottom: 105px;
    background-image: url(../images/m-blob-white.png);
    background-position: top;
  }
  .menu-btn.students-work .txt{
    color: black;
  }
  .menu-btn.contacts{
    left: 55%;
    bottom: 100px;
    background-image: url(../images/m-blob-blue.png);
    background-position: top;
  }
  .menu-bt.call-us{
    left: 69%;
    bottom: 83px;
    display: flex;
    flex-direction: column;
  }
  .menu-bt.call-us.call-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .menu-bt.call-us .circle-mob{
    display: block;
    width: 55px;
    height: 55px;
    margin-left: calc(50% - 27px);
    border-radius: 50%;
    /*background-color: green;*/
    background-image: url(../images/call-us.png);
    box-shadow: -1px -3px 17px -2px rgba(0,0,0,0.65);
  }
  .menu-bt.call-us .txt{
    display: none;
  }
  
  .menu-btn.activated.contacts .txt{
      /*color: black;*/
      transform: translateX(0) translateY(0);
      font-weight: bold;
  }
  .menu-btn.activated.courses-prices{
    background-image: url(../images/m-blob-red-plus.png);
    background-position: top;
  }
  .menu-btn.activated.about-us{
    background-image: url(../images/m-blob-green-plus.png);
    background-position: top;
  }
  .menu-btn.activated.super-teachers{
    background-image: url(../images/m-blob-yellow-plus.png);
    background-position: top;
  }
  .menu-btn.activated.students-work{
    background-image: url(../images/m-blob-white-plus.png);
    background-position: top;
  }
  .menu-btn.activated.contacts{
    background-image: url(../images/m-blob-blue-plus.png);
    background-position: top;
  }


}



/*==============seo-text section=================*/
.main-text{
  color:white;
  /*padding-bottom: 25px;*/
  height: 1950px;

  /*fallback*/
  position: relative;
}
.main-text h2{
  
}
.main-text-content{
  position: absolute;
  z-index: 1;
  display: block;
  top: 0;
  right: calc(50% - 600px);
  margin-top: 40px;
  margin-bottom:10px;
}
#canvas-basic {
  display: block;
  width: 100%;
  height: 1950px;
  margin-top: -1px;
}

/*offset to left for 30px*/
.main-block-1{
  width: 630px;
  padding: 15px;
  top: 120px;
  left: -40px;
  z-index: 10;
}
.main-block-2{
  width: 500px;
  padding: 15px;
  top: 505px;
  right: 30px;
  z-index: 11;
}
.main-block-3{
  width: 700px;
  padding: 15px;
  top: 810px;
  left: -150px;
  z-index: 12;
}
.main-block-4{
  width: 670px;
  padding: 15px;
  top: 1450px;
  right: 120px;
}
.main-img-1{
  width: 530px;
  padding: 10px;
  top: 140px;
  right: 10px;
}
.main-img-2{
  width: 200px;
  padding: 10px;
  top: 330px;
  right: 60px;
}
.main-img-3{
  width: 300px;
  padding: 10px;
  top: 530px;
  left: -30px;
}
.main-img-4{
  width:300px;
  padding: 7px;
  top: 655px;
  left: 305px;
}
.main-img-5{
  width: 700px;
  padding: 10px;
  top: 1248px;
  right: 5px;
}
.main-img-6{
  width: 220px;
  padding: 10px;
  top: 1420px;
  left: 100px;
}

.main-block-1,
.main-block-2,
.main-block-3,
.main-block-4{
  display: block;
  position: absolute;
  background-color: rgba(0,0,0,0.55);
  font-size: 16px;
}

.main-img-1,
.main-img-2,
.main-img-3,
.main-img-4,
.main-img-5,
.main-img-6{
  display: block;
  position: absolute;
  background-color: rgba(0,0,0,0.3);
}

.main-img-1 img,
.main-img-2 img,
.main-img-3 img,
.main-img-4 img,
.main-img-5 img,
.main-img-6 img{
  width: 100%;
}

@media screen and (max-width: 1400px) { 
  .main-text-content{
    right: calc(50% - 400px);
  }
  .main-block-1,
  .main-block-2,
  .main-block-3,
  .main-block-4{
    font-size: 14px;
  }
  .main-block-1{
    width: 400px;
    padding: 15px;
    top: 120px;
    left: -40px;
    line-height: 0.85rem;
  }
  .main-block-2{
    width: 500px;
    padding: 15px;
    top: 505px;
    right: 30px;
    line-height: 0.85rem;
  }
  .main-block-3{
    width: 555px;
    padding: 15px;
    top: 1010px;
    left: -50px;
    line-height: 0.85rem;
  }
  .main-block-4{
    width: 650px;
    padding: 15px;
    top: 1350px;
    right: 100px;
  }
  .main-img-1{
    width: 450px;
    padding: 10px;
    top: 140px;
    right: 10px;
  }
  .main-img-2{
    width: 200px;
    padding: 10px;
    top: 330px;
    right: 60px;
  }
  .main-img-3{
    width: 300px;
    padding: 10px;
    top: 530px;
    left: -30px;
  }
  .main-img-4{
    width:200px;
    padding: 5px;
    top: 735px;
    left: -5px;
  }
  .main-img-5{
    width: 700px;
    padding: 10px;
    top: 888px;
    left: 25px;
  }
  .main-img-6{
    width: 200px;
    padding: 10px;
    top: 1100px;
    right: 15px;
    left: auto;
  }
  .main-text{
    height: 1725px;
  }
  #canvas-basic {
    height: 1725px;
  }
}
@media screen and (max-width: 640px) { 
  .main-text{
    overflow: hidden;
  }
  .main-text,
  #canvas-basic{
    height: 2750px;
  }
  #canvas-basic{
    margin-top: 0;
  }
  .courses-list{
    margin-bottom: 0!important;
  }
  .main-text-content{
    width: 90%;
    right: 5%;
    margin-top: 30px;
  }
  .main-text-content h1{
    font-size: 1.15rem;
/*    position: absolute;
    top: 20px;
    z-index: 22;*/
  }
  .main-block-1{
    width: 90%;
    top: 230px;
    left: 0;
    /*line-height: 0.85rem;*/
  }
  .main-block-2{
    width: 90%;
    top: 850px;
    right: 0;
  }
  .main-block-3{
    width: 90%;
    padding: 15px;
    top: 1510px;
    left: 0;
  }
  .main-block-4{
    width: 90%;
    top: 2260px;
    right: 0;
    line-height: 1rem;
  }
  .main-block-4 li{
    margin-bottom: 7px;
  }
  .main-img-1{
    width: 110%;
    padding: 10px;
    top: 110px;
    right: -7%;
  }
  .main-img-2{
    width: 85px;
    top: 720px;
    right: -5%;
    z-index: 22;
  }
  .main-img-3{
    width: 85%;
    top: 650px;
    right: -5%;
  }
  .main-img-4{
    width: 65%;
    top: 2100px;
    right: auto;
    left: 50%;
  }
  .main-img-5{
    width: 110%;
    padding: 10px;
    top: 1414px;
    left: -5%;
  }
  .main-img-6{
    width: 65%;
    top: 1990px;
    right: 40%;
  }

}






/*============== courses-section ===============*/
.courses{
  background-image: url(../images/oboi-77.jpg);
  background-repeat: repeat;
  /*background-color: lightgray;*/
  /*fallback*/
  position: relative;
  overflow: hidden;
}
.pdf{
  text-align: center;
}
.courses .container{
  padding-top: 20px;
  margin-top: 0;
}
.courses h1{
  margin-bottom: 50px;
  margin-top:30px;
}
.courses a.pdf-link{
  text-align: center;
  display: inline-block;
  margin-bottom: 30px;
/*  margin-left: 260px;*/
  font-size: 1.1rem;
  font-weight: bold;
  color: white;
}
.courses-list{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  align-content: flex-start;
  margin-bottom: 30px;
}
.courses-list a{
  text-decoration: none;
  color: black;
}
.course-card{
  display: block;
  position: relative;
  width: 310px;
  height: 400px;
  cursor: default;
  margin-bottom: 55px;
  padding: 10px;
  background-color: white;
  border-radius: 5px;
  display: inline-block;
  box-shadow: 2px 2px 2px -1px rgba(0,0,0,0.55);
  transition: all 0.3s ease-in-out;
}
.course-card h2{
  margin: 0;
  line-height: 15px;
  font-size: 1rem;
  margin-bottom: 10px;
}
.course-card p{
  cursor: default;
}
.course-description{

}
.to-see-the-programm{
  display: inline-block;
  position: absolute;
  left: 10px;
  bottom: 10px;
  width: auto;
  height: 25px;
  border: 1px solid lightgrey;
  border-radius: 1px;
  padding: 5px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  box-shadow: 2px 2px 2px -1px rgba(0,0,0,0.55)
}
.to-see-the-programm p{
  margin: 0;
  cursor: pointer;
}
.to-see-the-programm:hover{
  background-color: lightgrey;
}
.course-price{
  position: absolute;
  height: 25px;
  font-weight: bold;
  padding: 5px;
  bottom: 10px;
  right: 0;
}
.course-price p{
  margin: 0;
}
.course-about p{
  margin: 0;
  line-height: 19px;
  font-size: 16px;
}
.course-description{
  padding: 15px;
  position: relative;
}
.course-image{
  height: 155px;
  overflow: hidden;

}
.course-image img{
  width: 100%;
  transition: all 0.3s ease-in-out;
}
.course-card:hover img{
  transform: scale(1.1);
}
/*.course-card:hover .course-price{
  transform: scale(1.2);
}*/
.course-card:hover{
  transition: all 0.3s ease-in-out;
  transform: scale(1.02);
}


@media screen and (max-width: 1400px){
  .courses a.pdf-link {
    /*margin-left: 209px;*/
  }
}

@media screen and (max-width: 640px) { 
  .course-card{
    width: auto;
    height: 350px;
    margin-bottom: 30px;
  }
  .course-card.course-4,
  .course-card.course-7,
  .course-card.course-6{
    height: 380px;
  }
  .courses h2{
    font-size: 0.9rem;
  }
  .course-description{
    padding: 0px;
    padding-top: 10px;
  }
  .courses a.pdf-link{
    margin-bottom: 20px;
    margin-left: auto;
  }
  .course-card:hover img{
    transform: scale(1);
  }
  .course-card:hover{
    transition: all 0.3s ease-in-out;
    transform: scale(1);
    box-shadow: none;
  }
  .course-price{
    height: 20px;
  }
  .to-see-the-programm{
    left: 10px;
    bottom: 10px;

    height: 20px;
    padding: 5px;

    opacity:1;
    transform: scale(1);
    transition: none;
  }
  .course-card:hover .to-see-the-programm{
    opacity:1;
    transform: scale(1);
  }
  .to-see-the-programm p{
    margin: 0;
    cursor: pointer;
  }
  .to-see-the-programm:active{
    background-color: green;
    color: white;
  }
}


 /*================TEACHERS============*/
.teachers{
  display: block;
  /*height: 710px;*/
  height: 100vh;
  background: radial-gradient(white, #C9EFF8);
  background-repeat: no-repeat;
  /*fallback*/
  position: relative;
 }
 .balls{
  position: absolute;
  height: 500px;
  width: 1000px;
  top: -150px;
  left: calc(50% - 450px);
  pointer-events: none;
}
.teachers h2{
  margin-top: 40px;
}
.teachers .container{
  z-index: 10;
  padding-top: 15px;
  margin-top: 0;

} 
.teacher-photo{
  height:400px;
  width: 100%;
  position: absolute;
  top: 100px;
  left: calc(50% - 400px);
  z-index: 10;
  transition: all 0.55s ease-out;
  max-width: 800px
 }
 .teacher-photo.photo-down{
    opacity: 1;
 }
 .teacher-photo.photo-down.hidden{
    opacity: 0;
 }
 .teacher-photo.photo-up{
    opacity: 0;
 }
 .teacher-photo.photo-up.active{
    opacity: 1;
 }
 .teachers .description{
  background-color: grey;
  display: flex;
  justify-content: space-around;
  position: absolute;
  top: 494px;
  border-radius: 10px;
  z-index: 10;
  left: calc(50% - 390px);
 }
 .teacher .name{
  position: absolute;
  font-size: 1.1rem;
  padding: 1px 10px 1px 10px;
  top: -15px;
  background-color: white;
  min-width: 70px;
  text-align: center;
  border: 2px solid darkgrey;
  border-radius: 5px;
 }
 .teacher.natasha .name{
  left: 75px;
 }
  .teacher.nastya .name{
  left: 345px;
 }
  .teacher.yana .name{
  left: 600px;
 }
 .teachers .description .teacher{
  width: 220px;
  padding: 10px;
  margin: 10px;
  background-color: lightgrey;
  border-radius: 5px;
  font-size: 0.77rem
 }
.ball {
  position: absolute;
  border-radius: 100%;
  opacity: 0.7;
  z-index: 1;
}

@media screen and (max-width: 640px) { 
  .teachers{
    height: 550px;
    background: radial-gradient(white, #6dd5ed);
    background-repeat: no-repeat;
    margin-bottom: -30px;
  }
  .balls{
    height: 500px;
    width: 80%;
    top: 10px;
    left: 10%;
  }
  .balls-wrapper{
    position: absolute;
    height: 80%;
    width: 100%;
    top: -150px;
    left: 0;
    overflow: hidden;
  }
  .teachers .description .teacher{
    width: auto;
    background-color: transparent;
    /*display: none;*/
  }
  .teacher-photo{
    top: 150px;
  }
  .teachers .description{
    left: 5%;
    top: 305px;
    width: 90%;
    height: 35%;
    /*background-color: white;*/
    background:linear-gradient(to right, #BF953F, #FCF6BA, #B38728);
    border: 1px solid grey;
    border-radius: 5px;
  }
  .teachers .description .teacher .about-teacher{
    display: none;
  }
  .teachers .description .teacher.active .about-teacher{
    display: block;
    padding-top: 20px;
  }
  .teacher .name{
    background-color: lightgrey;
  } 
  .teacher.active .name{
    background:#FCF6BA;
    border: 1px solid grey;
  }
  .teacher:not(.active) .name{
    background: grey;
    color: lightgrey;
    border: 1px solid grey;
  }
  .teacher.natasha .name{
    left: 5%;
   }
  .teacher.natasha .about-teacher{
    text-align: left;
  }
  .teacher.nastya .name{
    left: 35%;
  }
  .teacher.nastya .about-teacher{
    text-align: center;
  }
  .teacher.yana .name{
    left: 65%;
  }
  .teacher.yana .about-teacher{
    text-align: right;
  }

  .teacher-photo{
    left: 5%;
    width: 90%;
  }
  .teacher-photo img{
    width: 100%;
  }
}



/*----------------------OUR STUDENTS section*/

.our-students{
  height: 800px;
  /*background-color: coral;*/
  background-image: url(../images/oboi-66.jpg);
  background-repeat: repeat;
}
.our-students h2{
  /*color: white;*/
  margin-top: 30px;
}
.our-students .container{
  position: relative;
  padding-top: 30px;
  margin-top: 0;
  display: flex;
  justify-content: center;
}
.way img{
  max-width: 100%;
  cursor: pointer;
  max-height: 180px;
}
@media screen and (max-width: 640px) { 
  .our-students {
    height: 720px;
  }
}




/*============find us section===========*/

.find-us{
  width: 100%;
  height: 900px;
  text-align: center;
  display: block; 
  position: absolute;
  background: #ffffff;
  /*ВКЛЮЧИТЬ ТУТ*/
}
.find-us h4{
  margin-top: 5px;
  margin-bottom: 5px;
}
.find-us .adress{
  margin-bottom: 5px;
}
.ways-to-studio{
  display: flex;
  justify-content: space-around;
}
.way{
  width:320px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.9);
  border: 3px solid white;
  padding: 15px;
  padding-top: 0px;
}
.find-us p{
  background-color: rgba(255, 255, 255, 0.9);
  border: 3px solid white;
}
.find-us .phone{
  font-size: 1.5rem;
}
.find-us .container{
  position: absolute;
  z-index: 1;
  display: block;
  right: calc(50% - 600px);
}
.find-us .for-map{
  position: absolute;
  z-index: 1;
  display: block;
  width: 100%;
  top: 500px;
}
.find-us .unp{
  position:absolute;
  left: calc(50% - 120px);
  bottom: 30px;
  z-index: 22;
}
.mob{
  display: none;
}

@media screen and (max-width: 1400px) { 
  .find-us .container{
    right: calc(50% - 400px);
  }
  .find-us .unp{
    bottom: 20px;
  }

}
@media screen and (max-width: 640px) { 
  .find-us{
    height: 1145px;
  }
  .find-us .container {
    left: 5%;
    right: auto;
  }
  .ways-to-studio {
    flex-direction: column;
    margin-top: 25px;
  }
  .find-us .for-map{
    top: 800px;
  }
  .way {
    width: auto;
  }
  .mob{
    display: block;
  }
  .insta{
    display: inline-block;
    margin-top: 10px;
  }
}

/*========== TRANSPORT SECTION =========*/
.string-above-head{
  position: fixed;
  cursor: pointer;
  width: 100%;
  height: 40px;
  background-color: white;
  transition: all 1s ease-in-out;
}
.transport{
  top: 0;
  left:0;
  /*background-color: #9d1c20;*/
  z-index: 1000;
  box-shadow: -1px 2px 5px 0px rgba(0,0,0,0.55);
  /*transition: all 1s ease-in-out 3s;*/
  /*transform: translateX(50%);*/
}
.free-lesson{
  top: 0;
  left:100vw;
  z-index: 1001;
  font-size: 1.7rem;
  font-weight: bold;
  /*color: red;*/
}
.free-lesson.activated{
  left: 0vw;
}
.transport .container{
  margin-top: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.free-lesson .container{
  margin-top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.transport p,
.free-lesson p{
  margin:0;
}
.transport .metrostation,
.transport .metro,
.trall,
.tralleibus,
.bus,
.busbus{
  display: inline-block;
  font-size: 1.1rem;
  line-height: 0.9;
  padding-bottom: 5px;
  font-weight: bold;
  margin-left: 5px;
}
.transport img{
  height: 30px;
  margin-left: 15px;
}
@media screen and (max-width: 640px) { 
  .transport, 
  .free-lesson{
    overflow: hidden;
    height: 30px;
  }
  .transport .container{
    margin-top: 3px;
  }
  .transport .metrostation,
  .transport .metro,
  .trall,
  .tralleibus,
  .bus,
  .busbus{
    font-size: 0.55rem;
    margin-left: 2px;
    line-height: 0.9rem;
  }
  .running-string{
    font-size: 0.88rem;
    font-weight: bold;
    padding-top: 7px;

  }
/*  .string-above-head{
    height: 27px;
  }*/
  .transport img{
    height: 25px;
    margin-left: 5px;
  }
  .transport .container{
    width: 100%;
  }
  
}



/*-----------SVG-ANIMATION------------*/

.start-animation svg {
  max-width: 80%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  top:70px;
  z-index: 200;
  opacity: 0.55;
}
.start-animation svg path {
  animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-iteration-count: 1;
  animation-name: draw;
  animation-timing-function: linear;
}

svg path#letter-dob {
  stroke-dasharray: 248;
  stroke-dashoffset: 248;
  animation-duration: 0.99s;
  animation-delay: 0s;
}
svg path#letter-br {
  stroke-dasharray: 106;
  stroke-dashoffset: 106;
  animation-duration: 0.42s;
  animation-delay: 1.1s;
}
svg path#letter-ro {
  stroke-dasharray: 51;
  stroke-dashoffset: 51;
  animation-duration: 0.2s;
  animation-delay: 1.61s;
}

svg path#letter-pojalova {
  stroke-dasharray: 560;
  stroke-dashoffset: 560;
  animation-duration: 2.24s;
  animation-delay: 2.06s;
}
svg path#letter-at {
  stroke-dasharray: 147;
  stroke-dashoffset: 147;
  animation-duration: 0.59s;
  animation-delay: 4.35s;
}

svg path#letter-v {
  stroke-dasharray: 120;
  stroke-dashoffset: 120;
  animation-duration: 0.48s;
  animation-delay: 5.19s;
}

svg path#letter-stu {
  stroke-dasharray: 185;
  stroke-dashoffset: 185;
  animation-duration: 0.74s;
  animation-delay: 5.92s;
}
svg path#letter-diu {
  stroke-dasharray: 252;
  stroke-dashoffset: 252;
  animation-duration: 1s;
  animation-delay: 6.71s;
}

svg path#letter-ri {
  stroke-dasharray: 106;
  stroke-dashoffset: 106;
  animation-duration: 0.416s;
  animation-delay: 8.06s;
}
svg path#letter-i {
  stroke-dasharray: 49;
  stroke-dashoffset: 49;
  animation-duration: 0.2s;
  animation-delay: 8.58s;
}
svg path#letter-su {
  stroke-dasharray: 107;
  stroke-dashoffset: 107;
  animation-duration: 0.52s;
  animation-delay: 8.88s;
}
svg path#letter-nk {
  stroke-dasharray: 104;
  stroke-dashoffset: 104;
  animation-duration: 0.416s;
  animation-delay: 9.45s;
}
svg path#letter-ka {
  stroke-dasharray: 82;
  stroke-dashoffset: 82;
  animation-duration: 0.324s;
  animation-delay: 9.824s;
}

svg path#letter-ii {
  stroke-dasharray: 50;
  stroke-dashoffset: 50;
  animation-duration: 0.2s;
  animation-delay: 10.398s;
}

svg path#letter-jivopi {
  stroke-dasharray: 444;
  stroke-dashoffset: 444;
  animation-duration: 1.776s;
  animation-delay: 10.848s;
}
svg path#letter-si {
  stroke-dasharray: 97;
  stroke-dashoffset: 97;
  animation-duration: 0.388s;
  animation-delay: 12.674s;
}


svg path#letter-a {
  stroke-dasharray: 315;
  stroke-dashoffset: 315;
  animation-duration: 1.256s;
  animation-delay: 13.462s;
}
svg path#letter-k {
  stroke-dasharray: 102;
  stroke-dashoffset: 102;
  animation-duration: 0.408s;
  animation-delay: 14.818s;
}
svg path#letter-kv {
  stroke-dasharray: 330;
  stroke-dashoffset: 330;
  animation-duration: 1.32s;
  animation-delay: 15.276s;
}
svg path#letter-va {
  stroke-dasharray: 74;
  stroke-dashoffset: 74;
  animation-duration: 0.295s;
  animation-delay: 16.596s;
}
svg path#letter-r {
  stroke-dasharray: 220;
  stroke-dashoffset: 220;
  animation-duration: 0.88s;
  animation-delay: 16.991s;
}
svg path#letter-el {
  stroke-dasharray: 302;
  stroke-dashoffset: 302;
  animation-duration: 1.208s;
  animation-delay: 17.971s;
}


@keyframes draw {
  to {
    stroke-dashoffset: 0;
  }
}
/*@keyframes show {
  to {
    opacity: 1;
  }
}*/