body {
  background-color: #fff;
  padding: 0;
  margin: 0;
}

.start-animation{
  z-index: 200;
  width: 500px;
  height: 300px;
  position: absolute;
  top: 100px;
  left: calc(50% - 250px);;
}
.under-animation{
  position: absolute;
  z-index: 199;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: white;
  animation: white-dissapear 9s  1;
  opacity: 0;
}
@keyframes white-dissapear {
  0%   { opacity: 1; }
  85% {opacity: 1;}
  100% { opacity: 0; }
}

.header{
  height: 100vh;
  background-image: url(images/work-space.jpg);
  background-size: 150%;
  background-position: center;
  text-align: center;
  overflow: hidden;
}
.paper{
  width: 500px;
  height: 520px;
  background-color: white;
  position: relative;
  left: calc(50% - 250px);
  top: 102px;
  box-shadow: -1px 2px 5px 0px rgba(0,0,0,0.55);
}
.water-colour-gif{
  height: 250px;
  width: 300px;
  position: relative;
  left: calc(50% - 150px);
  top: 270px;
  background-image: url(images/water-colour-dance.gif);
  background-size: contain;
  background-repeat: no-repeat;
  animation: water-girl 13s;
}
@keyframes water-girl{
  0% { opacity:0; }
  90% { opacity:0; }
  100% { opacity:1; }
}

.main-text{
  color:#020202;
  background-color: coral;
  margin-top:-30px;
}

.container{
  width:800px;
  margin:auto;
  margin-top: 30px;
  /*font-family: 'Philosopher', sans-serif;*/
  font-family: 'El Messiri', sans-serif;
  /*font-family: 'Comfortaa', cursive;*/

}




/*-----------SVG-ANIMATION------------*/

.start-animation{
  animation-name: signature;
  animation-duration: 7s; /* or: Xms */
  animation-iteration-count: 1;
  /*animation-direction: alternate;*/
  animation-timing-function: ease; /* or: ease, ease-in, ease-in-out, linear, cubic-bezier(x1, y1, x2, y2) */
  animation-fill-mode: forwards; /* or: backwards, both, none */
  animation-delay: 0s; /* or: Xms */
}
@keyframes signature {
  0%   { transform: scale(1.5); }
  85%  { transform: scale(1.5); }
  100% { transform: scale(1); }
}


.start-animation svg {
  max-width: 80%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  top:100px;
  z-index: 200;
  opacity: 0.55;
}
.start-animation svg path {
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  animation-name: draw;
  animation-timing-function: linear;
}

svg path#letter-dob {
  stroke-dasharray: 248;
  stroke-dashoffset: 248;
  animation-duration: 0.99s;
  animation-delay: 0s;
}
svg path#letter-br {
  stroke-dasharray: 106;
  stroke-dashoffset: 106;
  animation-duration: 0.42s;
  animation-delay: 1.1s;
}
svg path#letter-ro {
  stroke-dasharray: 51;
  stroke-dashoffset: 51;
  animation-duration: 0.2s;
  animation-delay: 1.61s;
}



svg path#letter-pojalova {
  stroke-dasharray: 560;
  stroke-dashoffset: 560;
  animation-duration: 2.24s;
  animation-delay: 2.06s;
}
svg path#letter-at {
  stroke-dasharray: 147;
  stroke-dashoffset: 147;
  animation-duration: 0.59s;
  animation-delay: 4.35s;
}


svg path#letter-v {
  stroke-dasharray: 120;
  stroke-dashoffset: 120;
  animation-duration: 0.48s;
  animation-delay: 5.19s;
}


svg path#letter-stu {
  stroke-dasharray: 185;
  stroke-dashoffset: 185;
  animation-duration: 0.74s;
  animation-delay: 5.92s;
}
svg path#letter-diu {
  stroke-dasharray: 252;
  stroke-dashoffset: 252;
  animation-duration: 1s;
  animation-delay: 6.71s;
}


svg path#letter-ri {
  stroke-dasharray: 106;
  stroke-dashoffset: 106;
  animation-duration: 0.416s;
  animation-delay: 8.06s;
}
svg path#letter-i {
  stroke-dasharray: 49;
  stroke-dashoffset: 49;
  animation-duration: 0.2s;
  animation-delay: 8.58s;
}
svg path#letter-su {
  stroke-dasharray: 107;
  stroke-dashoffset: 107;
  animation-duration: 0.52s;
  animation-delay: 8.88s;
}
svg path#letter-nk {
  stroke-dasharray: 104;
  stroke-dashoffset: 104;
  animation-duration: 0.416s;
  animation-delay: 9.45s;
}
svg path#letter-ka {
  stroke-dasharray: 82;
  stroke-dashoffset: 82;
  animation-duration: 0.324s;
  animation-delay: 9.824s;
}



svg path#letter-ii {
  stroke-dasharray: 50;
  stroke-dashoffset: 50;
  animation-duration: 0.2s;
  animation-delay: 10.398s;
}


svg path#letter-jivopi {
  stroke-dasharray: 444;
  stroke-dashoffset: 444;
  animation-duration: 1.776s;
  animation-delay: 10.848s;
}
svg path#letter-si {
  stroke-dasharray: 97;
  stroke-dashoffset: 97;
  animation-duration: 0.388s;
  animation-delay: 12.674s;
}



svg path#letter-a {
  stroke-dasharray: 315;
  stroke-dashoffset: 315;
  animation-duration: 1.256s;
  animation-delay: 13.462s;
}
svg path#letter-k {
  stroke-dasharray: 102;
  stroke-dashoffset: 102;
  animation-duration: 0.408s;
  animation-delay: 14.818s;
}
svg path#letter-kv {
  stroke-dasharray: 330;
  stroke-dashoffset: 330;
  animation-duration: 1.32s;
  animation-delay: 15.276s;
}
svg path#letter-va {
  stroke-dasharray: 74;
  stroke-dashoffset: 74;
  animation-duration: 0.295s;
  animation-delay: 16.596s;
}
svg path#letter-r {
  stroke-dasharray: 220;
  stroke-dashoffset: 220;
  animation-duration: 0.88s;
  animation-delay: 16.991s;
}
svg path#letter-el {
  stroke-dasharray: 302;
  stroke-dashoffset: 302;
  animation-duration: 1.208s;
  animation-delay: 17.971s;
}


@keyframes draw {
  to {
    stroke-dashoffset: 0;
  }
}
@keyframes show {
  to {
    opacity: 1;
  }
}